.greyBlock {
    background: rgba(241, 241, 241, 1);
    padding: 30px;
    font-family: ABeeZee;
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  
  
   }

   .aboutText {
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
    padding: 30px;
     }